node-version  = 20.12.2
engine-strict = true
node-options  = --enable-source-maps

package-manager-strict-version              = true
git-branch-lockfile                         = true
merge-git-branch-lockfiles-branch-pattern[] = main

save-prefix     = ""
save-exact      = true
strict-peer-dep = true

link-workspace-packages   = true
shared-workspace-lockfile = true
save-workspace-protocol   = true
